---
layout: default
---

<aside class="sidebar">
  <header>
    <style>
      @font-face {
        font-family: 'SunBatang-Light';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
    </style>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p style="font-family: 'SunBatang-Light', sans-serif;">✨겨울에 태어난 원재야✨</p>
      <p style="font-family: 'SunBatang-Light', sans-serif;">생일 축하해</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Thanks to</h3>
      <ul>
        <li>
          <a>
            <img src="{{ site.baseurl }}/assets/img/img-dori.jpeg" alt="Dori" 
                 style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
          </a>
        </li>
        <li>
          <a>
            <img src="{{ site.baseurl }}/assets/img/img-gooruem.jpeg" alt="Gooruem" 
                 style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
          </a>
        </li>
        <li>
          <a>
            <img src="{{ site.baseurl }}/assets/img/img-oops.jpeg" alt="MONSTER" 
                 style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
          </a>
        </li>
        <li>
          <a>
            <img src="{{ site.baseurl }}/assets/img/img-dori2.jpg" alt="Dori" 
                 style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
          </a>
        </li>
        <li>
          <a>
            <img src="{{ site.baseurl }}/assets/img/img-gooruem2.png" alt="Gooruem" 
                 style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
          </a>
        </li>
      </ul>
    </section> <!-- End Section Contact -->
  
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->  
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
